*{
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
.Afooter{
    width: 100%; 
    max-width: 2000px;
    height:600px;
    background-color: #212121;
    color: white;
    position: absolute;
    top: 2920px;
    display: flex;            /* Use Flexbox */
  justify-content: space-around; /* Adjusts spacing between children */
  align-items: center;
  gap: 25px;
    
}
.Afirst-section-div{
    width: 400px;
    height: 200px;
    background-color: transparent;
    margin-left: 10px;
    color: white;
    
    

}
.Amiddle-section-div{
    width: 400px;
    height: 200px;
    background-color: transparent;
    
}
.Alast-section-div{
    width: 400px;
    height: 200px;
    background-color: transparent;
    
    
}
.logo-div5{
    width: 300px;
    height: 70px;
    background-color:transparent;
    position: absolute;
    top: 90px;
    left: 50px;
    background-image: url("https://html.geekcodelab.com/holiday-planners/assets/images/white-logo.png");
    background-size: cover; 
    background-position: center;
}
.Aholiday-discription{
    position: absolute;
    top: 200px;
    left: 60px;
}
.Aemail-box{
    width: 240px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
    /* background-color: transparent; */
    position: absolute;
    top: 340px;
    left: 60px;
    border: 0.5px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

}
.Aemail-box::placeholder {
    color: #ffffff; 
    /* opacity: 0.7;  */
    position: absolute;
    left: 20px;
}
.Asubmit-btn{
    width: 100px;
    height: 44px;
    background-color: #c29d59;
    position: absolute;
    left: 300px;
    top: 339.5px;
    border-radius: 0px 5px 5px 0px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
}
.Asubmit-txt{
    position: absolute;
    left: 20px;
    top: 10px;
}
.Apayment-method1{
    width: 250px;
    height: 38px;
    background-color: blue;
    position: absolute;
    left: 60px;
    top: 420px;
    border-radius: 5px;
     background: url("https://html.geekcodelab.com/holiday-planners/assets/images/payment-companies-logo.png");
    background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}
/* .payment-method2{
    width: 50px;
    height: 38px;
    background-color: blue;
    position: absolute;
    left: 120px;
    top: 420px;
    border-radius: 5px;
     
    background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.payment-method3{
    width: 50px;
    height: 38px;
    background-color: blue;
    position: absolute;
    left: 180px;
    top: 420px;
    border-radius: 5px;
     
    background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.payment-method4{
    width: 50px;
    height: 38px;
    background-color: blue;
    position: absolute;
    left: 240px;
    top: 420px;
    border-radius: 5px;
     
    background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
} */

.Anav-txt{
    position: absolute;
    top: 95px;
    left: 500px;
    font-weight: bold;
    font-size: 30px;
}
.Astraight-line-div{
    width: 280px;
    height: 0.5px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    left: 500px;
}
.list{
    position: absolute;
    top: 200px;
    left: 500px;
    margin-bottom: 10px
}
.list li{
    margin-bottom: 10px;
}
.Aneed-help{
    position: absolute;
    top: 95px;
    left: 900px;
    font-weight: bold;
    font-size: 30px;
}
.Astraight-line-div2{
    width: 280px;
    height: 0.5px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    left: 860px;
}
.Acall-us-line{
    width: 2px;
    height: 40px;
    background-color: #c29d59;
    position: absolute;
    top: 180px;
}
.Aemail-for-us-line{
    width: 2px;
    height: 40px;
    background-color: #c29d59;
    position: absolute;
    top: 240px;
}
.Alocation-line{
    width: 2px;
    height: 40px;
    background-color: #c29d59;
    position: absolute;
    top: 300px;
}
.Afollow-us-line{
    width: 2px;
    height: 40px;
    background-color: #c29d59;
    position: absolute;
    top: 380px;
}
.Acall{
    font-size: 10px;
    position: absolute;
    top: 180px;
    left: 880px;
}
.Anumber{
    font-size: 18px;
    position: absolute;
    top: 198px;
    left: 880px;
    font-family: 'Cormorant Garamond', serif;
}
.Aemail{
    font-size: 10px;
    position: absolute;
    top: 240px;
    left: 880px;
}
.Aemail2{
    font-size: 16px;
    position: absolute;
    top: 260px;
    left: 880px;
    font-family: 'Cormorant Garamond', serif;
}
.Alocation{
    font-size: 10px;
    position: absolute;
    top: 300px;
    left: 880px;
}
.Alocation2{
    font-size: 16px;
    position: absolute;
    top: 320px;
    left: 880px;
    font-family: 'Cormorant Garamond', serif;
}
.Afollow{
    font-size: 10px;
    position: absolute;
    top: 380px;
    left: 880px; 
}
.Afacebook-icon2{
    width: 25px;
    height: 25px;
    position: absolute;
    color: #c29d59;
    top: 403px;
    left: 880px;

}
.Ainstagram-icon2{
    width: 25px;
    height: 25px;
    position: absolute;
    color: #c29d59;
    top: 403px;
    left: 920px; 
}
.Atwitter-icon2{
    width: 25px;
    height: 25px;
    position: absolute;
    color: #c29d59;
    top: 403px;
    left: 960px;
}
.Astraight-line{
    width: 90%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top:3440px;
    left: 60px;
}
.Acopyright{
    position: absolute;
    top:3480px ;
    left:60px ;
    color: #fff;
    font-size: 12px;
    
}
.Aprivacy{
    position: absolute;
    top:3480px ;
    left:1000px ;
    color: #fff;
    font-size: 12px;
}

